$mobile-width: 760px; 
$tablet-width: 761px; 
$smallTablet-width:1020px;
$desktop-width: 1440px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin smallTablet { @media (min-width: #{$mobile-width}) and (max-width: #{$smallTablet-width - 1px}) {       
    @content;   
  } 
 }  

@mixin tablet { @media (min-width: #{$smallTablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}
.banner {
    user-select: none;
    width: 100vw;
    height: inherit;

    display: flex;
    justify-content: center;
    &__image {
        position: relative;
        width: 100vw;
        max-height: 1000px;
        background: url(https://res.cloudinary.com/dy1uuo6ql/image/upload/v1677496631/Rectangle_1_ibzeay.png);
        background-repeat: no-repeat;
        background-size: 100vw;
        overflow: hidden;
        @include tablet {
            overflow: hidden;
            height: 640px;
            display: flex;
            justify-content: space-around;
            background-position: -55px;
            background-size: 120vw;
        }
        @include smallTablet() {
            overflow: hidden;
            height: 480px;
            display: flex;
            justify-content: space-around;
            background-position: -55px;
            background-size: 120vw;
        }
        @include mobile() {
            display: flex;
            height: 610px;
            // background: #000;
            background-size: 320vw;
            background-position: -600px;
        }
        img{
            width: 100vw;
            object-fit: cover;
            @include tablet {
                display: none;
            }
            @include smallTablet() {
                display: none;
            }
            @include mobile() {
                display: none;
            }
        }
        &--filter {
            @include mobile() {
                position: absolute;
                height: 610px;
                width: 100vw;
                background: radial-gradient(118.67% 101.66% at 141.47% 78.12%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }
    &__container{
        z-index: 1;
        position: absolute;
        width: 1200px;
        height: 404px;
        top: 190px;
        padding-left: 140px;
        padding-right: 140px;
        transform: translateX(-120px);
        @include tablet{
            width: calc(100vw - 100px);
            top: 151px;
            left: 70px;
            padding: 0;
            transform: translateX(0px);
        }
        @include smallTablet() {
            width: calc(100vw - 100px);
            top: 100px;
            padding: 0;
            transform: translateX(0px);
        }
        @include mobile {
            width: 100vw;
            top: 130px;
            padding: 0;
            transform: translateX(0px);
            padding: 0;
        }
    }
    &__content{
        width: 665px;
        height: 404px;
        @include tablet {
            width: 640px;
        }
        @include smallTablet() {
            width: 448px;
        }
        @include mobile {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1{
            font-style: normal;
            font-weight: 800;
            font-size: 64px;
            line-height: 82px;
            user-select: none;
            @include tablet {
                font-weight: 800;
                font-size: 56px;
                line-height: 74px;
                height: 147px;
            }
            @include smallTablet() {
                font-weight: 800;
                font-size: 42px;
                line-height: 56px;
            }
            @include mobile() {
                font-size: 42px;
                text-align: center;
                width: 335px;
                height: 160px;
                line-height: 58px;
            }
        }
        p {
            user-select: none;
            width: 650px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 36px;
            letter-spacing: 0.2px;   
            margin-top: 20px;   
            @include tablet {
                width: 565px;
                font-size: 16px;
                line-height: 26px;
                height: 99px;
            }     
            @include smallTablet() {
                width: 400px;
                font-size: 12px;
                line-height: 26px;
            } 
            @include mobile() {
                width: 335px;
                font-size: 12px;
                line-height: 24px;
                text-align: center;
                margin-top: 30px;
            }
        }
    }
    &__input {
        width: 502px;
        height: 72px;
        left: 120px;
        top: 533px;
        margin-top: 50px;

        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            margin-top: 20px;
            width: 422px;
            height: 72px;
        }
        @include smallTablet() {
            margin-top: 20px;
            width: 320px;
            height: 64px;
        }
        @include mobile() {
            width: 335px;
            height: 60px;
            margin-top: 44px;
        }
        input {
            margin-left: 32px;
            border: none;
            outline: none;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 36px;
            @include mobile() {
                margin-left: 20px;
            }
            @include smallTablet() {
                font-size: 12px;
            }

        }
        button{
            width: 136px;
            height: 60px;
            background: #F84646;
            border-radius: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 36px;
            letter-spacing: 0.2px;
            margin-right: 6px;
            color: #FFFFFF;
            outline: none;
            border: none;
            cursor: pointer;
            @include tablet {
                width: 114px;
                height: 60px;
            }
            @include smallTablet() {
                width: 104px;
                height: 52px;
                font-size: 12px;
            }
            @include mobile() {
                width: 90px;
                height: 50px;
                margin-right: 5px;
            }
        }
    }
}
