$mobile-width: 760px; 
$tablet-width: 761px; 
$smallTablet-width:1020px;
$desktop-width: 1440px; 

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin smallTablet { @media (min-width: #{$mobile-width}) and (max-width: #{$smallTablet-width - 1px}) {       
    @content;   
  } 
 }  

@mixin tablet { @media (min-width: #{$smallTablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

.footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8464A;
    padding-right: 120px;
    padding-left: 120px;
    @include tablet() {
      padding: 0;
    }
    @include mobile() {
      padding: 0;
    }
    @include smallTablet() {
      padding: 0;
    }
    &__container {
        width: 1200px;
        padding-top: 80px;
        padding-bottom: 65px;
        @include tablet() {
          width: calc(100vw - 120px);
          padding-top: 60px;
          padding-bottom: 60px;
        }
        @include smallTablet() {
          width: calc(100vw - 120px);
          padding-top: 80px;
          padding-bottom: 60px;
        }
        @include mobile() {
          width: 100vw;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-top: 30px;
          padding-bottom: 74px;
        }
  
    }
    &__contents {
      display: flex;
      @include tablet() {
        // display: flex;
        // justify-content: space-between;
      }
      @include mobile() {
        width: 343px;
        flex-direction: column;
      }
    }
    &__text {
      width: fit-content;
      padding-right: 100px;
      @include tablet() {
        padding-right: 50px;
      }
      @include mobile() {
        margin-right: 0px;
        margin-top: 50px;
      }
      @include smallTablet() {
        padding-right: 30px;
      }
      h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #FFFFFF;
        @include tablet() {
          font-size: 16px;
        }
        @include mobile() {
          font-size: 16px;
        }
        @include smallTablet() {
          font-size: 14px;
        }
      }
      ul>li {
        list-style: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #E6E6E6;
        margin-top: 24px;
        @include tablet() {
          font-size: 15px;
          margin-top: 24px;
        }
        @include mobile() {
          font-size: 16px;
        }
        @include smallTablet() {
          font-size: 12px;
        }
      }
    }
    &__bottom{
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      @include mobile() {
        width: 343px;
        display: flex;
        flex-direction: column-reverse;
      }
    }
    &__refer {
      @include mobile() {}
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: white;
        @include tablet() {
          font-size: 16px;
        }
        @include mobile() {
          margin-top: 65px;
          font-size: 16px;
        }
        @include smallTablet() {
          font-size: 14px;
        }
      }
      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        margin-left: 18px;
        @include tablet() {
          transform: scale(0.8);
        }
        @include mobile() {
          margin-left: 0px;
          margin-right: 16px;
        }
      }
    }
}
