$mobile-width: 760px; 
$tablet-width: 761px; 
$smallTablet-width:1020px;
$desktop-width: 1440px;   

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin smallTablet { @media (min-width: #{$mobile-width}) and (max-width: #{$smallTablet-width - 1px}) {       
    @content;   
  } 
 }  

@mixin tablet { @media (min-width: #{$smallTablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

.manage {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: #ccc;
    padding-top: 120px;
    padding-bottom: 120px;
    // margin-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    @include tablet() {
        padding-top: 120px;
        padding-bottom: 135px;
        padding-left: 0;
        padding-right: 0;
    }
    @include smallTablet() {
        padding-top: 120px;
        padding-bottom: 115px;
        padding-left: 0;
        padding-right: 0;
    }
    @include mobile() {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    &__container {
        width: 1200px;
        height: 800px;
        // background: #fff;
        @include tablet() {
            width: calc(100vw - 100px);
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include smallTablet() {
            width: calc(100vw - 100px);
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include mobile() {
            height: fit-content;
        }
    }
    &__desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            width: 428px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 49px;
            text-align: center;
            @include tablet() {
                font-size: 36px;
            }
            @include mobile() {
                width: 100vw;
                font-size: 24px;
            }
            @include smallTablet() {
                font-size: 28px;
            }
        }
        p {
            width: 994px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #000000;     
            margin-top: 30px;  
            // padding-bottom: 90px;
            @include tablet() {
                width: 852px;
                height: 109px;
                font-size: 24px;
                line-height: 32px;
            }
            @include smallTablet() {
                width: 647px;
                height: 109px;
                font-size: 18px;
                line-height: 32px;
            }
            @include mobile() {
                width: 334px;
                height: 109px;
                font-size: 12px;
                line-height: 22px;
                margin-top: 15px;
            }
        }
    }
    &__items {
        margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        gap: 65px;
        justify-content: space-between;
        @include tablet() {
            width: 734px;
            height: 793px;
            gap: 80px; 
            // background: #ccc;
            // padding: 0px 15px 0px 15px;
        }
        @include smallTablet() {
            width: 700px;
            height: 793px;
            gap: 0px; 
        }
        @include mobile() {
            margin-top: 40px;
            display: flex;
            flex-wrap: none;
            justify-content: center;
            gap: 60px;
        }
    }
}