$mobile-width: 760px; 
$tablet-width: 761px; 
$smallTablet-width:1020px;
$desktop-width: 1440px; 

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin smallTablet { @media (min-width: #{$mobile-width}) and (max-width: #{$smallTablet-width - 1px}) {       
    @content;   
  } 
 }  

@mixin tablet { @media (min-width: #{$smallTablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}
$red-pick: #F84646;
.reference {
    width: 100vw;
    background: #F4F5F7;

    display: flex;
    justify-content: center;
    padding-right: 120px;
    padding-left: 120px;
    @include smallTablet() {
        padding-right: 0px;
        padding-left: 0px;
    }
    &__container {
        width: 1200px;
        padding-top: 60px;
        padding-bottom: 45px;
        // background: #ccc;
        @include tablet() {
            width: calc(100vw - 100px);
            padding-top: 45px;
            padding-bottom: 85px;
        }
        @include mobile() {
            padding-top: 40px;
            width: 100vw;
            padding-bottom: 40px;
        }
        @include smallTablet() {
            width: calc(100vw - 100px);
            padding-top: 45px;
            padding-bottom: 85px;
        }
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            font-feature-settings: 'salt' on, 'liga' off;
            color: #18191F;
            @include tablet() {
                font-size: 48px;
                line-height: 64px;
            }
            @include smallTablet() {
                font-size: 32px;
                line-height: 42px;
            }
            @include mobile() {
                font-weight: 700;
                font-size: 36px;
                line-height: 42px;
            }
            
        }
        p {
            margin-top: 5px;;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            font-feature-settings: 'salt' on, 'liga' off;
            color: #18191F;
            @include tablet() {
                font-size: 18px;
            }
            @include smallTablet() {
                font-size: 14px;
            }
            @include mobile() {
                margin-top: 14px;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
            }
            
        }
    }
    &__com {
        width: 1200px;
        // background: #dd6e6e;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        @include tablet() {
            width: calc(100vw - 100px);
            margin-top: 36px;
        }
        @include mobile() {
            width: 100vw;
        }
        @include smallTablet() {
            width: calc(100vw - 100px);
            margin-top: 36px;
        }
    }
    &__items {
        display:  flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
        gap: 24px;
        @include tablet() {
            // transform: scale(0.8);
            gap: 12px;
        }
        @include mobile() {
            flex-direction: column;
            gap: 24;
        }
        @include smallTablet() {
            gap: 12px;
        }
        &__box {
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            @include tablet() {
                gap: 12px;
            }
            @include smallTablet() {
                gap: 12px;
            }
        }
    }
}
.box {
    width: 170px;
    height: 96px;
    left: 0px;
    top: 0px;
    
    /* Default / White */
    
    background: #FFFFFF;
    /* Grey Shadow */
    
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet() {
        width: 170px;
        height: 96px;
        // img {
        //     transform: scale(0.8);
        // }
        border-radius: 16px;
    }
    @include smallTablet() {
        width: 130px;
        height: 72px;
        border-radius: 12px;
        img {
            transform: scale(0.8);
        }
    }
}