$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

.reference {
    width: 100vw;
    background: #F4F5F7;

    display: flex;
    justify-content: center;
    &__container {
        width: 1200px;
        padding-top: 45px;
        padding-bottom: 45px;
        // background: #ccc;
        @include tablet() {
            width: calc(100vw - 100px);
        }
        @include mobile() {
            width: 100vw;
        }
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            font-feature-settings: 'salt' on, 'liga' off;
            color: #18191F;
            @include tablet() {
                font-size: 38px;
                line-height: 48px;
            }
            @include mobile() {
                font-weight: 700;
                font-size: 36px;
                line-height: 42px;
            }
            
        }
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            font-feature-settings: 'salt' on, 'liga' off;
            color: #18191F;
            @include tablet() {
                font-size: 15px;
            }
            @include mobile() {
                font-weight: 500;
                font-size: 14px;
                line-height: 32px;
            }
            
        }
    }
    &__com {
        width: 1200px;
        // background: #dd6e6e;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        @include tablet() {
            width: calc(100vw - 100px);
            margin-top: 36px;
        }
        @include mobile() {
            width: 100vw;
        }
    }
    &__items {
        display:  flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
        gap: 24px;
        @include tablet() {
            // transform: scale(0.8);
            gap: 18px;
        }
        @include mobile() {
            flex-direction: column;
        }
        &__box {
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            @include tablet() {
                gap: 18px;
            }
        }
    }
}
.box {
    width: 170px;
    height: 96px;
    left: 0px;
    top: 0px;
    
    /* Default / White */
    
    background: #FFFFFF;
    /* Grey Shadow */
    
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet() {
        width: 134px;
        height: 78px;
        img {
            transform: scale(0.8);
        }
        border-radius: 12px;
    }
}