@import "../../asset/style/scss/global/_global";
.contact {
    width: 100vw;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    &__container {
        width: 1200px;
        // background: #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 160px;
        padding-bottom: 160px;
        @include tablet() {
            width: 100vw;
        }
        @include mobile() {
            width: 100vw;
            padding-bottom: 80px;
            padding-top: 90px;
        }
        @include smallTablet() {
            width: 100vw;
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
    &__icon {
        position: relative;
        width: 120px;
        height: 120px;
        // background: rebeccapurple;
        @include tablet() {
            transform: scale(0.8);
        }
        @include mobile() {
            transform: scale(0.6);
        }
        @include smallTablet() {
            transform: scale(0.8);
        }
        // &--ic {
        
        // }
        &--red {
            position: absolute;
            top: 6px;
            right: 4px;
            z-index: -1;
        }

    }
    h1 {
        margin-top: 10px;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 32px;
        @include tablet() {
        font-size: 48px;
        line-height: 32px;
        }
        @include smallTablet() {
            font-size: 32px;
            line-height: 32px;
        }
        @include mobile() {
            margin-top: -20px;
            font-size: 36px;
        }
    }
    p {
        margin-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        @include tablet() {
            font-size: 18px;
            margin-top: 20px;
        }
        @include smallTablet() {
            font-size: 14px;
            margin-top: 10px;
        }
        @include mobile() {
            width: 335px;
            height: 50px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
        }

    }
    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
        padding: 25px 40px;
        gap: 10px;

        width: 204px;
        height: 70px;
        left: 617px;
        top: 4592px;
        
        background: $red-pick;
        border-radius: 8px;
        border:  none;
        color: white;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
        margin-top: 30px;
        @include tablet() {
            padding: 25px 40px;
            width: 204px;
            height: 70px;
            font-size: 24px;
        }
        @include smallTablet() {
            align-items: center;
            padding: 10px 24px;
            width: 157px;
            height: 60px;
            font-size: 18px;
        }
        @include mobile() {
            width: 124px;
            height: 42px;
            font-size: 15px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    }
}

